@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --cor-vermelha: #780000;
    --cor-vermelha-sec: #c1121f;
    --cor-branca: #fdf0d5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-vermelha);
    height: 80px;

    position: fixed;
    top: 0;
    width: 100%;
}

.imagem-nav{
    width: 35%;
    height: 35%;
}

.lista-nav{
    list-style: none;
    display: flex;
    gap: 2rem;

    margin-right: 3rem;
}

.item-nav{
    color: #fff;
    text-decoration: none;
}

.item-nav:hover{
    text-decoration: underline;
    color: var(--cor-branca);
    font-weight: bold;
}

/* CONTEÚDO PRINCIPAL */

.sobre-mim{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	gap: 4rem;
	margin-top: 5rem;

	padding: 1rem;

	background-image: url('../assets/imgs/torcidade2.webp');
	background-repeat: no-repeat;
	background-size: cover;
}

.sobre-mim h1 {
    font-size: 60px;
    margin-bottom: 20px;
	margin-top: 55px;
	color: #fff;
}

.sobre-mim p {
    font-size: 22px;
	font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
	color: #fff;
}

.historia {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 4rem;
}

.container-historia{
	display: flex;
	justify-content: space-around;
	gap: 4rem;
}

.container-historia img{
	width: 30%;
	height: 100%;
	border-radius: 20px;
}

.container-historia div{
	background-color: #fff;
	text-align: center;

	padding: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-historia div h2{
	color: #780000;
	font-size: 45px;
	text-decoration: underline #780000;
	margin-bottom: 3rem;
}

.container-historia div p {
	color: #000;
	font-size: 16px;
	line-height: 40px;
}

.reverso{
	display: flex;
	flex-direction: row-reverse;
}




/* FOOTER */

.container-footer{
	background-color: var(--cor-branca);

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-footer img{
    width: 25%;
    height: 25%;
}

.links{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contatos{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.lista-link{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item-link{
	text-decoration: none;
	list-style: none;

	color: var(--cor-vermelha);
}

.item-link:hover{
	text-decoration: underline;
	font-weight: bold;
}

.background{


	height: 20rem;
}

.titulo-background{
	text-align: center;
}