@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --cor-vermelha: #780000;
    --cor-vermelha-sec: #c1121f;
    --cor-branca: #fdf0d5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-vermelha);
    height: 80px;

    position: fixed;
    top: 0;
    width: 100%;
}

.imagem-nav{
    width: 35%;
    height: 35%;
}

.lista-nav{
    list-style: none;
    display: flex;
    gap: 2rem;

    margin-right: 3rem;
}

.item-nav{
    color: #fff;
    text-decoration: none;
}

.item-nav:hover{
    text-decoration: underline;
    color: var(--cor-branca);
    font-weight: bold;
}

/* CONTEÚDO PRINCIPAL */

.sobre-mim{
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;

    margin: 50px 50px;
	margin-top: 10rem;

	padding: 1rem;

	border: 2px solid #000;
}

.sobre-mim img{
	width: 50%;
	height: 500px;
	padding: 0;
}

.sobre-mim h1 {
    font-size: 36px;
    margin-bottom: 20px
}

.sobre-mim p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.historia {
    margin-bottom: 40px;
}

.historia h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.historia p {
    font-size: 16px;
    line-height: 1.6;
}

.sobre-mim span{
	color: var(--cor-vermelha-sec);
}

/* FOOTER */

.container-footer{
	background-color: var(--cor-branca);

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-footer img{
    width: 25%;
    height: 25%;
}

.links{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contatos{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.lista-link{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item-link{
	text-decoration: none;
	list-style: none;

	color: var(--cor-vermelha);
}

.item-link:hover{
	text-decoration: underline;
	font-weight: bold;
}